.body_part {
	padding-top: 90px;
	width: auto;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 30px;
}

.right {
  text-align:center;
}

.headphone:active {
  *width: 100%;
  position: relative;
  top: 1px;
  left: 1px;
}
